body {
    background: rgb(255, 255, 255);
    color: #000;
}

.icon-border {
    font-size: 3rem;
    color: white;
    background-color: rgba(95, 158, 160, 0.623);
    padding: 15px;
    border-radius: 5px;
}